version: 2.1

orbs:
  cypress: cypress-io/cypress@1.29.0

executors:
  my-cypress-executor:
    docker:
      - image: cypress/base:17.8.0

jobs:
  validate:
    executor: my-cypress-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run validate
  release:
    executor: my-cypress-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: npx semantic-release

workflows:
  build:
    jobs:
      - cypress/run:
          executor: my-cypress-executor
          yarn: true
          start: npm run serve
          wait-on: '--timeout 120000 http://localhost:3000'
      - validate:
          requires:
            - cypress/run
      - release:
          context:
            - release
          requires:
            - validate
          filters:
            branches:
              only: master
