version: 2.1

orbs:
  cypress: cypress-io/cypress@1.19.2
  node: circleci/node@2.0.2

executors:
  cypress-on-node-12:
    docker:
      - image: 'cypress/base:12.16.1'

use-node-executor: &use-node-executor
  executor:
    name: 'node/default'
    tag: '12.16.1'

jobs:
  validate:
    <<: *use-node-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
  release:
    <<: *use-node-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  build:
    jobs:
      - cypress/run:
          executor: cypress-on-node-12
          yarn: true
          start: yarn develop
          wait-on: '--timeout 40000 http://localhost:8000'
      - validate:
          requires:
            - cypress/run
      - release:
          requires:
            - validate
          filters:
            branches:
              only: master
