version: 2.1

orbs:
  cypress: cypress-io/cypress@1.5.0

workflows:
  build:
    jobs:
      - cypress/install:
          yarn: true
          build: yarn validate
      - cypress/run:
          requires:
            - cypress/install
          yarn: true
          start: yarn develop
          wait-on: 'http://localhost:8000'
