# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cypress/base:8
        environment:
          # this enables colors in the output
          TERM: xterm

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v3-dependencies-

      - run: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - ~/.cache
          key: v3-dependencies-{{ checksum "package.json" }}

      # run tests
      - run: yarn lint
      - run: yarn test:e2e:ci

      # run build
      - run: yarn build
